


.badge-cmp{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#header{
    position: relative;
}


.app__header-skills{
    user-select: none;

    @media screen and (max-width:600px) {
        flex-direction: column;
    }

   div{
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

.app__header{
    padding: 2rem;
    

}


.header__avatar-marquee{

z-index: 3;



    @media screen and (max-width: 450px) {
        padding: 1rem 1rem 2rem;
      }
   

   

    img{
        // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        // border-radius: 50%;
        // padding: 1rem;
    }
}
.header__avatar-marquee-text{
    padding: 1rem;
    // text-align: center;
    margin: 2nnprem;
    height: 10rem;
    width: 20rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: rgba(9,9,9,0.1);
    backdrop-filter: blur(4px);
    div{text-align: center;
    }
    
}


.header__image{
  width: 100%;
//   overflow: hidden;
  justify-content: space-around;
  display:flex;
  flex-wrap: wrap;
  position: absolute;
padding: 2rem;


  
    img{
        max-height: 6rem;
        position: relative;
        margin: 1rem;
    }
    
    @media screen and (min-width: 900px)
    {
    :nth-child(3){
        margin-right: 18rem;
        top:2rem;
    }
    :nth-child(1){
       
        top:3rem;
    }
    :nth-child(2){
       
        top:10rem;
    }
    :nth-child(4){
        
        top:8rem;
    }
  
    :nth-child(5){
      
        top:6rem;
    }
}



    @media screen and (max-width: 900px) {
        
        position: relative;
        :nth-child(3){
            margin-right: 1rem;
            top:2rem;
        }
    
      }
    @media screen and (max-width: 450px) {
    //    position: static;
        // top:5rem;

        img{
padding: 1rem;
}


       :nth-child(3){
        margin-right: 1rem;
        top:0rem;
    }
      }

      
    
}


.header__subsection{
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
        flex-direction: column;
    }
}


.app__header-background{
    height: 100%;
    width: 90%;
    // background-color: rgba(0,0,0,0.3);

    position:absolute;
    display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        overflow-wrap: hidden;
        flex-wrap: wrap;
        



    div{
        height: 100px;
        width: 100px;
        position: relative;
        
        // margin: 1rem;
        border-radius: 50%;
        opacity: 0.1;
        
    }
    :nth-child(1){
       top:2rem;
    scale:3;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

        // display: block;
    }
  

        // display: block;
    
    :nth-child(2){
       bottom: 5rem;
       transform: scale(0.5);
       background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

        // display: block;
    }
    :nth-child(3){
       left:1rem;
       transform: scale(2 );
       background-color: #09522b;
background-image: linear-gradient(45deg, #0a6735 0%, #FFFB7D 100%);

        // display: block;
    }
    :nth-child(4){
       top:5rem;
       transform: scale(0.8);
        // display: block;
        background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

    }
    :nth-child(5){
       bottom:10rem;
       transform: scale(3);
       background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

        // display: block;
    }

    div{
        @media screen and (max-width: 768px) {
            height: 100px;
            width: 100px;
        
    }
    }
}